version: '3'

services:

  zookeeper:
    image: confluentinc/cp-zookeeper:6.1.0
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
  kafka:
    image: confluentinc/cp-kafka:6.1.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  schema-registry:
    image: confluentinc/cp-schema-registry:6.2.0
    container_name: schema-registry
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      - SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL=zookeeper:2181
      - SCHEMA_REGISTRY_HOST_NAME=schema-registry
      - SCHEMA_REGISTRY_LISTENERS=http://0.0.0.0:8081
      
  producer:
    build: ./app
    volumes:
     - ./app:/app
    ports:
     - "80:80"
    environment:
     - PORT=80
    command: uvicorn producer:app --host 0.0.0.0 --port 80 --reload
    depends_on:
     - kafka

  consumer:
    build: ./app
    volumes:
     - ./app:/app
    ports:
     - "8080:80"
    environment:
     - PORT=80
    command: python -u consumer.py
    #sleep infinity
    depends_on:
     - producer
